<a target="_blank" href="http://youtube.com/watch?v={{highlight.id}}">
  <div><img src="{{highlight.snippet.data.thumbnails.default.url}}"></div>
  <div>{{highlight.snippet.data.title}}</div>
  <div>{{highlight.snippet.data.publishedAt}}</div>
</a>
