
<div>
  <h1>JUST HIGHLIGHTS</h1>
  <form {{action "doSearch" on="submit"}}>{{input value=search placeholder="Search for your favorite NHL team"}}</form>

  <ul>
  {{#each highlights as |highlight|}}
    {{component-highlight highlight=highlight}}
  {{/each}}
  </ul>
</div>
