@import 'bootstrap';
@import 'bootstrap/theme';

h1 {
  color: red;
}

img {
  width: 60%;
}

li {
  display:inline-block;
  width: 50%;
  float: left;
}

.form-control {
  font-size: 16px;
  margin-bottom: 20px;
  height: 80px;
  max-width: 800px;
}

 .style-buttons {
 margin: 3px 0px 20px 0px;
 width: 150px;
 height: 50px;
 }
